.select-shows {
    overflow-y: scroll;
    padding: 0 1em 1em 1em;
}

.select-shows ul.shows {
    padding: 0 0 1em 0;
    margin: 0;
    border-bottom: 1px solid grey;
}
.select-shows ul.shows li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.select-shows ul.shows a {
    text-decoration: none;
}

.select-shows .help {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    font-size: 80%;
}
.select-shows .help summary {
    cursor: pointer;
}
.select-shows .help ol {
    padding: 0 1em 1em 1em;
}
.select-shows .help ol li {
    padding: 0 0 0 0.5em;
    margin: 0;
}

.select-shows ul.contact {
    padding: 0 1em 1em 1em;
}
.select-shows ul.contact li {
    padding: 0 0 0 0.5em;
    margin: 0;
}
.select-shows ul.contact li a {
    font-size: 75%;
}
