.app {
  display: grid;
  grid-template-columns: 20em auto;
  height: 100%;
}

.select-shows {
  overflow-y: scroll;
}
.select-shows li {
  cursor: pointer;
}
.select-shows li:hover {
  color: blue;
}
.selected-shows {
  font-weight: bold;
}

ul.calendar {
  overflow-y: scroll;
  color: grey;
  padding: 2em;
  margin: 0;
}

li.calendar-day {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.calendar-day > ul {
  margin: 0;
  padding: 0;
  display: block;
}

li.calendar-item {
  list-style: none;
  border-radius: .25em;
  margin: .5em;
  padding: 0;
  display: block;
  border-width: .125em;
  border-style: dashed;
  border-color: black;
  font-size: 12px;
}
li.calendar-item a {
  text-decoration: none;
}
li.calendar-item p {
  margin: .25em;
}
li.calendar-item h3 {
  opacity: .4;
  margin: 0;
  font: inherit;
  padding: .2em;
  cursor: pointer;
  font-size: 14px;
}
li.calendar-item-selected {
  border-style: solid;
  border-color: black;
}
li.calendar-item-selected h3 { opacity: 1; }
li.calendar-item-deselected {
  border-style: solid;
  border-color: transparent;
}
li.calendar-item-deselected h3 { opacity: 0.15; }

.calendar-item-colour-0 h3 {
  background-color: maroon;
  color: white;
}
.calendar-item-colour-1 h3 {
  background-color: red;
  color: black;
}
.calendar-item-colour-2 h3 {
  background-color: orange;
  color: black;
}
.calendar-item-colour-3 h3 {
  background-color: yellow;
  color: black;
}
.calendar-item-colour-4 h3 {
  background-color: olive;
  color: white;
}
.calendar-item-colour-5 h3 {
  background-color: green;
  color: white;
}
.calendar-item-colour-6 h3 {
  background-color: purple;
  color: white;
}
.calendar-item-colour-7 h3 {
  background-color: fuchsia;
  color: black;
}
.calendar-item-colour-8 h3 {
  background-color: lime;
  color: black;
}
.calendar-item-colour-9 h3 {
  background-color: teal;
  color: white;
}
.calendar-item-colour-10 h3 {
  background-color: aqua;
  color: black;
}
.calendar-item-colour-11 h3 {
  background-color: blue;
  color: white;
}
.calendar-item-colour-12 h3 {
  background-color: navy;
  color: white;
}
.calendar-item-colour-13 h3 {
  background-color: black;
  color: white;
}
.calendar-item-colour-14 h3 {
  background-color: gray;
  color: white;
}
.calendar-item-colour-15 h3 {
  background-color: silver;
  color: black;
}
